{% extends "base.html" %}

{% block title %}Images Bookmarked{% endblock %}

{% block content %}
    <h1>Images Bookmarked</h1>
    <div id="image-list">
        {% include "images/image/list_ajax.html" %}
    </div>
{% endblock %}

{% block domready %}
    var page = 1;
    var emptyPage = false;
    var blockRequest = false;

    $(window).scroll(function() {
        margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && emptyPage == false && blockRequest == false) {
            blockRequest = true;
            page += 1;
            $.get('?page=' + page, function(data) {
                if (data == '') {
                    emptyPage = true;
                } else {
                    blockRequest = false;
                    $('#image-list').append(data);
                }
            });
        }
    });
{% endblock %}